.product__title {
  margin-bottom: 1.5rem;
}

.product__discription {
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  margin-bottom: 5.875rem;
}

.shopping-cart__circle {
  width: 80px;
  height: 80px;
  border: 10px solid white;
  border-radius: 50%;
  background: #E5FFFB;
  display: flex;
  position: absolute;
  left: 52%;
  top: -15%;
}

.shopping-cart__img {
  margin: auto;
}

.product-item {
  position: relative;
}

.product-item__img {
  position: relative;
  width: 326px;
  height: 326px;
  border-radius: 30px;
  background: #E5FFFB;
}

.product-item__img::after {
  content: "";
  position: absolute;
  left: 3%;
  top: -20%;
  width: 268px;
  height: 366px;
  background-image: url('../../../assets/images/product-01.png');
}
