.container {
  max-width: 1146px;
  margin: auto;
  padding-top: 34px;
}

.wrapper {
  background: linear-gradient(46deg, #FF9292 0%, #DE5150 100%);
}

.main {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  margin-top: 130px;
}

.section__title {
  font-size: 2.75rem;
  font-weight: 700;
  line-height: 130%;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

.img {
  max-width:100%;
  height:auto;
}
