.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 62px 0;
}

.footer-nav-list {
  display: flex;
}

.footer-nav-item {
  padding-right: 34px;
}

.footer-nav-item:last-child {
  padding-right: 0;
}

li {
  list-style: none;
}

.social-list {
  display: flex;
}

.social-item {
  padding-right: 30px;
}

.social-item:last-child {
  padding-right: 0;
}

.social-item__link {
  width: 47px;
  height: 47px;
  border: 2px solid none;
  border-radius: 50%;
  background: var(--color-white);
  display: flex;
}

.social-item__img {
  margin: auto;
}
