@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
@import url("./style-mobile.css");
@import url("./style-desktop.css");

:root {
  --color-black: black;
  --color-black-heading: #302B3A;
  --color-grey-text: #404040;
  --color-purple: #ADA7FF;
  --color-lavender: #DAB6FC;
  --color-yellow: #E9BC52;
  --color-grey: #686868;
  --color-white: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  color: var(--color-grey-text);
  font-family: 'Lato', sans-serif;

  /* background: white; */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
