.container {
  margin: 0 1rem;
}

.header {
  margin: 1.5rem 0;
  padding-bottom: 1.5rem;
  border-bottom: 0.5px solid var(--color-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  width: 29px;
  height: 25px;
}

.hero__title {
  font-size: 2.7rem;
}

.text-purple {
  color: var(--color-purple)
}

.hero__text {
  margin-bottom: 2.25rem;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;

}

.btn-block {
  display: flex;
  align-items: center;
  margin-bottom: 2.25rem;
}

.btn-block .btn {
  margin-right: 20px;
}

.btn {
  text-transform: lowercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  background-color: var(--color-purple);
  font-size: 0.75rem;
  color: var(--color-white);
  border-radius: 999px;
  padding: 10px 16px;
}

.btn:hover {
  background-color: var(--color-lavender);
}

.btn-start {
  display: none;
}

.btn-text {
  margin-right: 12px;
}

.video {
  display: flex;
  align-items: center;
}

.video__img {
  margin-right: 10px;
}

.video__link {
  text-decoration: none;
  color: var(--color-purple);
  font-size: 0.75rem;
}

.indicator-list {
  display: flex;
  margin-bottom: 3.75rem;
}

.indicator-item {
  margin-right: 1.875rem;
}

.indicator-item:last-child {
  margin-right: 0;
}

.indicator-item__number {
  font-size: 1.875rem;
  line-height: 2.375rem;
  font-weight: 600;
}

.indicator-item__mark {
  color: var(--color-grey);
  font-size: 0.75rem;
  line-height: 1rem;
}

.img-block {
  height: 408px;
  position: relative;
}

.img-block__dog-print {
  position: absolute;
  width: 35.36px;
  height: 36.81px;
  z-index: -2;
}

.img-block__right-angle {
  position: absolute;
  width: 208.27px;
  height: 217.96px;
  right: 0;
  top: 0;
  z-index: -2;
}

.img-block__dog {
  position: absolute;
  width: 145.31px;
  height: 207.79px;
  z-index: -1;
  top: 9px;
  right: 0;
}

.img-block__left-angle {
  position: absolute;
  width: 208.27px;
  height: 217.96px;
  bottom: 1rem;
  left: 0;
  z-index: -2;
}

.img-block__cat-print {
  position: absolute;
  width: 35.36px;
  height: 36.81px;
  bottom: 1rem;
  right: 0;
  z-index: -2;
}

.img-block__cat {
  position: absolute;
  width: 290px;
  height: 290px;
  bottom: -1.7rem;
  z-index: -1;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.burger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.burger-menu.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.burger-menu.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu.active {
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  background-color: white;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}

.nav-item {
  margin: 16px 0;
}

.bar {
  width: 100%;
  height: 3px;
  width: 24px;
  background-color: var(--color-purple);
  margin-bottom: 4px;
}

.bar:last-child {
  margin-bottom: 0;
}

nav {
  display: none;
}


