.hero {
  text-transform: uppercase;
  color: var(--color-white);
  display: flex;
  padding-bottom: 103px;
}

.hero__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__img {
  margin-right: 6rem;
}

.hero__slogan {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 2.2px;
}

.hero__title {
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 2.875rem;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 2.25rem;
}

.price__new {
  font-weight: 700;
  font-size: 2.75rem;
  padding-right: 1.875rem;
  border-right: var(--color-white) solid 2px;
}

.price__old {
  font-size: 2rem;
  font-weight: 500;
  line-height: 140%;
  text-decoration: line-through;
  padding-left: 1.875rem;
}

.hero__cta {
  border-radius: 62px;
  background: var(--color-white);
  color: var(--color-red);
  padding: 15px 30px;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 140%;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
