.collection .section__title {
  margin-bottom: 4.375rem;
}

.slider {
  display: flex;
  align-items: center;
}

.slider__img {
  width: 324px;
  height: auto;
}

.slider__img--active {
  width: 453px;
  height: auto;
}

.slider__btn {
  cursor: pointer;
}
