.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.nav-list {
  display: flex;
}

.nav-item {
  padding-left: 32px;
  padding-right: 32px;
  border-right: var(--color-white) solid 2px;
}

.nav-item:last-child {
  padding-right: 0;
  border-right: 0;
}

.nav-item:first-child {
  padding-left: 0;
}

.nav-item__circle {
  width: 47px;
  height: 47px;
  border: 2px solid none;
  border-radius: 50%;
  background: var(--color-white);
  display: flex;
}

.nav-item__img {
  margin: auto;
}
