.features__item__circle-outer {
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  width: 96px;
  height: 96px;
  border: 4px solid rgba(253, 216, 216, 1);
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 20px;
}

.features__item__circle-outer::before {
  content: "";
  position: absolute;
  width: 96px;
  height: 48px;
  border: 4px solid #FF4948;
  border-top: none;
  bottom: -4px;
  border-bottom-right-radius: 96px;
  border-bottom-left-radius: 96px;
}

.features__item__circle-inner {
  border-radius: 50%;
  object-fit: cover;
  width: 69px;
  height: 69px;
  border: 2px solid #FDD8D8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features__item__img {
  display: block;
  max-width: 34px;
}

.features {
  display: flex;
}

.features > .section__title {
  text-align: left;
}

.features__list {
  padding: 0;
}

.features__item {
  display: flex;
}

.features-left {
  display: flex;
  flex-direction: column;
  margin-right: 188px;
}

.features__item__title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 5px;
}

.features__item__text {
  line-height: 150%;
  margin-bottom: 10px;
}

.features__item__link {
  display: block;
  color: #FF4948;
  font-weight: 500;
  line-height: 150%;
}
